.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero.section {
  padding: 0;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 200px;
}